<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://azurewebapp20221108135059.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/89fa456f-ef0a-40a5-8af8-6ea6f942278e/resourcegroups/NetworkWatcherRG/providers/Microsoft.Web/sites/AzureWebApp20221108135059</ResourceId>
    <UserName>$AzureWebApp20221108135059</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://azurewebapp20221108135059.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>